[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = {version = "*", extras = ["daphne"]}
whitenoise = {version = "*", extras = ["brotli"]}
django-allauth = "*"
oso = "*"
django = {version = "*", extras = ["argon2", "bcrypt"]}
psycopg = "*"
msgpack = "*"
pyyaml = "*"
tzdata = "*"
channels-postgres = "*"

[dev-packages]

[requires]
python_version = "3.9"
