[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = {version = "*", extras = ["daphne"]}
whitenoise = {version = "*", extras = ["brotli"]}
django-allauth = "*"
oso = "*"

[dev-packages]

[requires]
python_version = "3.9"
